<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productService.productList">
          <td style="display: none;">{{product.id}}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteProduct(product.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

